.App {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 320px 1fr;
}

.form {
  width: 320px;
  text-align: left;
}

.control {
  padding: 8px 16px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
}

.example {
  padding: 16px;
}
