.GridOverlay {
  z-index: 9999;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 8px 8px;
  background-image: linear-gradient(to right, cyan 1px, transparent 1px), linear-gradient(to bottom, cyan 1px, transparent 1px);
  pointer-events: none;
  opacity: 0.3;
}
